/* WELCOME CSS */
.welcome-section {
  padding: 5rem 0;
}
.welcome-title h1 {
  color: #9a3012;
  font-weight: bold;
}
.welcome-title span {
  font-size: 40px;
  letter-spacing: 0.5px;
  color: white;
}
.welcome-title p {
  font-size: 15px;
  color: white;
  line-height: 1.8rem;
  width: 50;
  padding: 0 10%;
}
.welcome-title__line {
  width: 150px;
  height: 2px;
  background-color: black;
}
/* END WELCOME CSS */
