/* GLOBAL */
* {
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  padding: 0;
  margin: 0;
  background: #151111;
  background: url(./assets/images/bg_4.jpg) no-repeat fixed;
  background-size: cover;
  color: #ffffff;
  background-position: center;
}
/* END GLOBAL */
