
body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif!important;
    font-weight: 300!important;
    font-size: 100%;
    background-color: rgba(192,192,192,0.1025)!important;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1260px!important;
}

*:focus,
*:hover,
*:active {
    outline: none!important;
}

img {
    width: 100%;
}

.no-distance {
    margin-left: 0;
    margin-right: 0;
}

.page-disable {
    overflow: hidden;
}
button {
    background: unset;
    border: unset;
}

a:hover {
    text-decoration: none!important;
    cursor: pointer;
}
// .no-distance>[class*='col-'] {
//     padding:
// }


