.dangnhap {
  form {
    .form-group {
      .form-control {
        box-shadow: none;
      }
    }
    button {
      background-color: #fb4226;
      color: white;
      opacity: 1;
      margin-top: 2rem;
      height: 50px;
      margin: auto;
      &:hover {
        opacity: 0.9;
        color: white;
      }
      &:focus {
        box-shadow: none;
      }
    }
  }
}
